name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Check Docker version
      run: docker --version
    
    - name: Pull docker image
      run: docker pull naqib1/cicd-pipeline:latest
    
    - name: Delete Old docker container
      run: docker rm -f cicd-pipeline-container || true
    
    - name: Run Docker Container
      run: docker run -d -p 80:8080 --name cicd-pipeline-container naqib1/cicd-pipeline